html
    box-sizing: border-box
    scrollbar-width: none

    &::-webkit-scrollbar
        display: none

*, 
*::before, 
*::after
    box-sizing: inherit

body
    position: relative
    margin: 0
    padding: 0
    background-color: var(--color-bg)
    
    &.dark img
        filter: brightness(.8) contrast(1.2)

body, input, a
    font-family: var(--font)
    color: var(--color-text)