@use "../util" as *

html
    box-sizing: border-box
    scrollbar-width: none

    &::-webkit-scrollbar
        display: none

*, 
*::before, 
*::after
    box-sizing: inherit

body
    position: relative
    margin: 0
    padding: 0
    background-color: var(--color-bg)

body, input, a
    font-family: var(--font)
    color: var(--color-text)

.icon-wrapper 
    height: 2rem
    width: 2rem
    
    img
        width: 100%

body.dark .icon-wrapper img
    filter: invert(100%)

.container, main, header .flex-wrapper
    @include container-a
