// * - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
// * - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
// * - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
// * - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
// * - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
// * - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

:root
    // Primary
    
    // Very Light Gray (Light Mode Background)
    --color-bg: hsl(0, 0%, 98%)

    // White (Light Mode Elements)
    --color-bg-elements: hsl(0, 0%, 100%)

    // Dark Gray (Light Mode Input)
    --shadow: hsl(0, 0%, 52%)

    // Very Dark Blue (Light Mode Text)
    --color-text: hsl(200, 15%, 8%)
    
    body.dark
        // Dark Theme
        
        // Very Dark Blue (Dark Mode Background)
        --color-bg: hsl(207, 26%, 17%)

        // Dark Blue (Dark Mode Elements)
        --color-bg-elements: hsl(209, 23%, 22%)

        // White (Dark Mode Text)
        --color-text: hsl(0, 0%, 100%)