@use '../../../../styles/util' as *

.filter
    @include flex
    @include padding-x
    @include shadow
    gap: 1rem
    border-radius: 5px
    background-color: var(--color-bg-elements)

    button
        text-align: initial
        width: 100%
        
    .placeholder
        flex-grow: 1

    @include mobile-only
        @include padding
        margin-top: 2.5rem