@use '../../../../styles/util' as *

.search
    @include flex
    @include shadow
    @include radius
    padding: 1em 2em
    color: var(--color-text-secondary)
    background-color: var(--color-bg-elements)

    input
        font-weight: 600
        appearance: none
        border: none
        background-color: transparent
        margin-left: 1em
        outline: none
        color: inherit