@use '../../../styles/util' as *

header
    padding: 1.5em 0
    box-shadow: 0 0 5px var(--shadow)
    background-color: var(--color-bg-elements)
    
    .flex-wrapper
        @include flex(space-between)

    #theme-toggler
        @include flex
        cursor: pointer
        text-transform: capitalize

        input
            display: none

        label
            @include flex

            span
                font-weight: 600