@use '../../../styles/util' as *

.countries-list
    padding-bottom: 5em

    @include md
        > .list
            padding-top: 2em
            display: grid
            gap: 70px
            grid-template-columns: repeat(4, 1fr)
